<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "HERITAGE", root_path, class: "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <font face = "lato">
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Mission", mission_path %></li>
          </ul>
       </div><!-- /.navbar-collapse -->
      </font>
  </div><!-- /.container-fluid -->
</nav>
<div class = "container">
  <font face = "lato">
      <div align = "right">
        <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-sm" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm" %>
    </font>
    <% end %>
  </div>
</div>